---
title: About - Energo-market
bodyClass: is-page-default
---
extends includes/_app


block main

    // Topbar :: Start
    .topbar
        .container-fluid

            h1.topbar__title О компании

            figure.topbar__image
                img(src="images/img-01.png", alt="alt")

    // Topbar :: End

    // About :: Start
    .about
        .container-fluid

            h2.about__title Энерго-маркет - группа компаний #[br] и экспертов в энергетике

            p.about__text Мы объединились для комплексного решения задач клиентов в энергосбережении

            .about__section
                h3 Наши компетенции
                .row
                    .col-md-6
                        .ui-card
                            h4 Снижаем стоимость электроэнергии для наших клиентов
                            p Мы знаем все способы снижения стоимости электричества в РФ. Если для Вашей компании есть возможность снизить затраты на электричество - Вы сразу же об этом узнаете при начале сотрудничетсва с нами.

                    .col-md-6
                        .ui-card
                            h4 Организуем технологическое присоединение к электрическим сетям
                            p Мы знаем все способы снижения стоимости электричества в РФ. Если для Вашей компании есть возможность снизить затраты на электричество - Вы сразу же об этом узнаете при начале сотрудничетсва с нами.

                    .col-md-6
                        .ui-card
                            h4 Оказываем все инжиниринговые услуги в электроэнергетике
                            p Проектируем и строим системы учета электроэнергии. Проектируем электроснабжение. Проектируем системы телемеханики. Производим расчет режима плавки гололеда. Выполняем электромонтажные работы и строительство электросетевых объектов. Есть все необходимые лицензии и СРО.

                    .col-md-6
                        .ui-card
                            h4 Консалтинг и юридическое сопровождение потребителей
                            p Оказываем юридические услуги потребителям электроэнергии. Консультируем по сложным вопросам энергоснабжения.

    // About :: End


    // Support :: Start
    .support
        .container-fluid

            h2.support__title Мы урегулируем вопросы энергоснабжения #[br] наших клиентов исключительно в рамках #[br] правового поля.

            .support__section
                p.support__text Мы хотим, чтобы клиенту было выгодно поручить нам комплексное решение своих задач в энергоснабжении. #[br] И для этого мы предлагаем нашим Заказчикам самые эффективные пути достижения всех поставленных целей.
                ul.support__menu
                    li
                        a(href="#").ui-btn.ui-btn--red Услуги компании
                    li
                        a(href="#").ui-btn.ui-btn--red Наши эксперты
                    li
                        a(href="#").ui-btn.ui-btn--red Контакты
    
    // Support :: End


    // History :: Start
    .history
        .container-fluid

            h2.history__title История компании

            .history__section

                ul.history__list
                    li
                        .history__item
                            mark.history__item-date 2000 год
                            .history__item-desc
                                h3.history__item-title Основание Компании
                                p.history__item-text Мы знаем все способы снижения стоимости электричества в РФ. Если для Вашей компании есть возможность снизить затраты на электричество - Вы сразу же об этом узнаете при начале сотрудничетсва с нами.
                    
                    li
                        .history__item
                            mark.history__item-date 2002 год
                            .history__item-desc
                                h3.history__item-title Основание Компании
                                p.history__item-text Мы знаем все способы снижения стоимости электричества в РФ. Если для Вашей компании есть возможность снизить затраты на электричество - Вы сразу же об этом узнаете при начале сотрудничетсва с нами.

                    li
                        .history__item
                            mark.history__item-date 2012 год
                            .history__item-desc
                                h3.history__item-title Основание Компании
                                p.history__item-text Мы знаем все способы снижения стоимости электричества в РФ. Если для Вашей компании есть возможность снизить затраты на электричество - Вы сразу же об этом узнаете при начале сотрудничетсва с нами.

                    li
                        .history__item
                            mark.history__item-date 2017 год
                            .history__item-desc
                                h3.history__item-title Основание Компании
                                p.history__item-text Мы знаем все способы снижения стоимости электричества в РФ. Если для Вашей компании есть возможность снизить затраты на электричество - Вы сразу же об этом узнаете при начале сотрудничетсва с нами.

    // History :: End

    // Contacts :: Start
    .contacts
        .container-fluid

            h2.contacts__title Находимся в Москве. #[br] Работаем по всей России.

            .contacts__section

                ul.contacts__list
                    li
                        address.contacts__address
                            strong Центральный офис:
                            p Московская область, Красногорский район, МКАД 72 км., внешняя сторона, Международный торгово-выставочный комплекс «Гринвуд», строение 19, 4 этаж

                    li
                        address.contacts__address
                            strong Представительство в ЮФО:
                            p Ростовская область, г. Новочеркасск, ул. Михайловская, 150 А
                            
                .contacts__control
                    button.contacts__control-btn.is-active Москва
                    button.contacts__control-btn Новочеркасск

                .contacts__map#map
                
            
    // Contacts :: End