include includes/_mixins
doctype html
html(lang="ru" class="is-loaded")
    head
        meta(charset="utf-8")

        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color" content="#000")
        meta(name="format-detection" content="telephone=no")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")

        title= title || 'Page name'

        meta(property="og:type" content="website")
        meta(property="og:title" content="")
        meta(property="og:description" content="Краткое описание")
        meta(property="og:url" content="http://websiteurl")
        meta(property="og:image" content="http://websiteurl/image.jpg")
        meta(property="og:site_name" content="Название")

        link(rel="preload" href="fonts/Manrope-Bold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/Manrope-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/Manrope-Medium.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/Manrope-Regular.woff2" as="font" type="font/woff2" crossorigin)

        <!-- Critical CSS -->

        include includes/_loadCss

    body

        // App :: Start
        .app

            header.header
                .container-fluid

                    figure.header__logo
                        <svg width="260" height="38" viewBox="0 0 260 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.21199 21.0644C3.68568 22.514 5.59593 23.2388 7.94274 23.2388C9.19498 23.2615 10.4368 23.0062 11.5803 22.4911C12.6208 22.024 13.5185 21.2852 14.1807 20.3511L12.0837 17.9821C11.1608 19.1738 9.72112 19.8396 8.22284 19.7674C7.25085 19.8044 6.30204 19.4629 5.57322 18.8137C4.87193 18.1546 4.43207 17.2613 4.33547 16.2998H14.5251V14.5412C14.5201 11.9878 13.8892 10.0156 12.6326 8.62448C11.3759 7.23337 9.65363 6.53781 7.4658 6.53781C6.1029 6.51034 4.75895 6.86282 3.58222 7.55635C2.43081 8.25567 1.50926 9.28128 0.932606 10.5052C0.294281 11.8619 -0.0243896 13.3489 0.00145546 14.8502V15.266C0.00145546 17.682 0.738301 19.6148 2.21199 21.0644ZM5.40289 10.8599C5.9295 10.2775 6.68451 9.95913 7.4658 9.99017C8.24939 9.93759 9.01794 10.2249 9.57793 10.7798C10.1005 11.3963 10.3711 12.19 10.335 13V13.3433H4.39225C4.47094 12.4313 4.82346 11.565 5.40289 10.8599Z" fill="#DA2141"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7239 6.81142L20.8562 8.62796C21.9596 7.25008 23.6675 6.47403 25.4508 6.54023C27.145 6.54023 28.4055 7.02935 29.2324 8.00759C30.0593 8.98582 30.4828 10.4408 30.503 12.3725V22.514H26.2336V12.4505C26.2336 11.559 26.037 10.9089 25.6437 10.5077C25.2504 10.1065 24.5924 9.90215 23.6773 9.90215C22.555 9.85741 21.5052 10.4459 20.9735 11.4178V22.514H16.7041V6.81142H20.7239Z" fill="#DA2141"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.8931 21.0647C36.3664 22.5143 38.2761 23.2391 40.6223 23.2391C41.8691 23.2592 43.1052 23.0039 44.2438 22.4914C45.284 22.0243 46.1815 21.2854 46.8435 20.3513L44.7433 17.9823C43.8321 19.1737 42.4048 19.8463 40.9137 19.7867C39.942 19.8237 38.9934 19.4822 38.2648 18.833C37.5554 18.1709 37.1111 17.2698 37.016 16.3H47.2068V14.5413C47.2017 11.9879 46.571 10.0157 45.3147 8.62451C44.0583 7.23337 42.3365 6.5378 40.1493 6.5378C38.7855 6.51042 37.4408 6.86287 36.2629 7.55636C35.1125 8.25657 34.1914 9.28195 33.614 10.5052C32.9758 11.862 32.6573 13.349 32.6831 14.8503V15.2661C32.6831 17.6822 33.4197 19.615 34.8931 21.0647ZM38.0718 10.86C38.5982 10.2775 39.3531 9.95918 40.1341 9.99022C40.9177 9.93665 41.6864 10.2241 42.2457 10.7799C42.7679 11.3966 43.0383 12.1901 43.0026 13.0001V13.3435H37.0576C37.1359 12.4306 37.4899 11.5639 38.0718 10.86Z" fill="#DA2141"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M58.0256 10.7672C57.4966 10.6942 56.963 10.6546 56.4284 10.6485C54.7457 10.6485 53.6415 11.1837 53.1156 12.2541V22.514H48.6592V6.84049H52.879L53.0012 8.69446C53.8952 7.25578 55.1335 6.53644 56.7163 6.53644C57.1852 6.53314 57.652 6.5969 58.1005 6.72554L58.0256 10.7672Z" fill="#DA2141"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M60.5674 8.76306C59.4072 10.2575 58.8271 12.2275 58.8271 14.673L58.8309 14.8353C58.8309 17.301 59.421 19.2886 60.6012 20.7981C61.6886 22.2611 63.4142 23.1049 65.2317 23.0625C66.7029 23.1166 68.1207 22.5058 69.0956 21.3982V22.2511C69.1564 23.2035 68.8153 24.1376 68.1559 24.8249C67.4328 25.4644 66.4867 25.7901 65.5249 25.7307C64.0405 25.7442 62.6282 25.0892 61.6761 23.9456L59.7969 26.5421C60.4646 27.3519 61.3295 27.9746 62.3076 28.3498C63.3847 28.8089 64.5427 29.0463 65.7128 29.048C67.0978 29.0788 68.4724 28.8017 69.7383 28.2366C70.8407 27.7344 71.7686 26.913 72.4031 25.8779C73.0532 24.7773 73.3815 23.5152 73.3503 22.236V6.8308H69.5015L69.3248 8.34038C68.3676 7.14026 67.0121 6.54021 65.2581 6.54021C63.4277 6.47211 61.6785 7.30104 60.5674 8.76306ZM63.9388 18.3753C63.36 17.5677 63.0706 16.4279 63.0706 14.9787C63.0731 13.3081 63.365 12.0539 63.9463 11.2161C64.4724 10.4052 65.3808 9.92764 66.3443 9.95562C67.6072 9.95562 68.523 10.445 69.0918 11.4237V18.1451C68.5318 19.1263 67.6072 19.6131 66.3142 19.6131C65.3621 19.6425 64.4629 19.174 63.9388 18.3753Z" fill="#DA2141"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M75.7279 10.452C75.0953 11.7856 74.7798 13.2477 74.8062 14.7236V14.9218C74.8088 17.4901 75.5007 19.5186 76.8819 21.0072C78.2632 22.4959 80.1155 23.2402 82.4388 23.2402C84.7595 23.2402 86.6092 22.4934 87.988 20.9996C89.3667 19.5059 90.0561 17.5244 90.0561 15.0552L90.0256 13.9539C89.886 11.6727 89.1242 9.86646 87.7404 8.5353C86.3566 7.20415 84.5792 6.53857 82.4083 6.53857C81.0034 6.50465 79.6158 6.85371 78.394 7.54837C77.2369 8.23005 76.3088 9.24083 75.7279 10.452ZM79.9669 18.538C79.3918 17.7302 79.1062 16.5527 79.1062 15.0285C79.1037 13.3061 79.3918 12.0359 79.9708 11.2179C80.5126 10.4081 81.4349 9.9366 82.4083 9.97188C83.3891 9.93235 84.3214 10.4001 84.8763 11.2103C85.4628 12.0359 85.7561 13.1994 85.7561 14.7008C85.7561 16.4587 85.4628 17.7378 84.8763 18.538C84.2893 19.2993 83.3826 19.7452 82.4216 19.7452C81.4606 19.7452 80.5539 19.2993 79.9669 18.538Z" fill="#DA2141"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M100.949 15.2514H92.2344V11.6201H100.949V15.2514Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M107.913 6.81238L108.048 8.56855C109.185 7.21991 110.912 6.46872 112.709 6.54134C114.801 6.54134 116.234 7.3396 117.009 8.93612C118.089 7.36822 119.936 6.46012 121.881 6.54134C123.638 6.54134 124.946 7.03638 125.806 8.02648C126.665 9.01657 127.095 10.5017 127.095 12.4819V22.5065H122.748V12.4819C122.748 11.5908 122.572 10.9411 122.211 10.5289C121.851 10.1168 121.218 9.90888 120.293 9.90888C119.079 9.853 117.978 10.5931 117.608 11.7133V22.514H113.296V12.4819C113.296 11.5722 113.108 10.9114 112.739 10.5067C112.371 10.102 111.742 9.89403 110.852 9.89403C109.737 9.83202 108.69 10.4151 108.186 11.3792V22.5065H103.854V6.81238H107.913Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M138.226 21.4953C138.296 21.9963 138.445 22.4835 138.667 22.9393H143.073V22.6879C142.652 21.903 142.424 20.7409 142.424 19.2169V12.2256C142.424 10.4298 141.832 9.03278 140.65 8.03456C139.467 7.03634 137.87 6.53723 135.857 6.53723C134.625 6.51989 133.402 6.75066 132.263 7.21541C131.281 7.60358 130.426 8.24919 129.79 9.08231C129.221 9.83006 128.914 10.7388 128.912 11.6731H133.283C133.257 11.127 133.488 10.5996 133.909 10.2444C134.405 9.87188 135.019 9.68669 135.641 9.72239C136.323 9.66412 136.995 9.91021 137.473 10.393C137.881 10.8992 138.088 11.5342 138.056 12.1799V13.1019H136.047C133.627 13.112 131.774 13.573 130.485 14.4849C129.208 15.387 128.48 16.8655 128.553 18.413C128.524 19.7401 129.103 21.0093 130.13 21.8687C131.234 22.8 132.654 23.2882 134.107 23.2365C135.674 23.2898 137.185 22.6515 138.226 21.4953ZM136.839 19.5103C136.291 19.799 135.679 19.9495 135.057 19.9485C134.486 19.9795 133.924 19.7926 133.488 19.4265C133.119 19.084 132.918 18.6001 132.939 18.1006V17.8491C133.076 16.3607 134.235 15.6165 136.418 15.6165H138.049V18.3673C137.771 18.8593 137.349 19.2575 136.839 19.5103Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M154.653 10.7672C154.12 10.6951 153.583 10.6567 153.045 10.6523C151.36 10.6523 150.253 11.1874 149.727 12.2578V22.514H145.251V6.84049H149.462L149.585 8.69446C150.48 7.25578 151.72 6.53644 153.306 6.53644C153.775 6.53314 154.243 6.5969 154.692 6.72554L154.653 10.7672Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M161.388 16.1538L159.805 17.6772V22.514H155.419V0H159.805V12.4727L160.657 11.4183L164.865 6.65288H170.138L164.196 13.2645L170.67 22.514H165.615L161.388 16.1538Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M172.877 21.0644C174.35 22.514 176.259 23.2388 178.605 23.2388C179.856 23.2615 181.098 23.0062 182.24 22.4911C183.281 22.0228 184.179 21.2843 184.843 20.3511L182.744 17.9821C181.824 19.1704 180.39 19.8358 178.896 19.7674C177.925 19.8044 176.976 19.4629 176.248 18.8137C175.54 18.1506 175.096 17.25 174.999 16.2807H185.195V14.5221C185.195 11.956 184.565 9.98376 183.303 8.60536C182.042 7.22695 180.319 6.53775 178.132 6.53775C176.77 6.51087 175.427 6.86331 174.25 7.55629C173.099 8.25526 172.178 9.28098 171.602 10.5051C170.964 11.8618 170.646 13.3489 170.671 14.8501V15.266C170.669 17.682 171.404 19.6148 172.877 21.0644ZM176.055 10.8599C176.583 10.28 177.336 9.96221 178.117 9.99012C178.9 9.93704 179.668 10.2245 180.228 10.7798C180.75 11.3963 181.021 12.1899 180.984 13V13.3433H175.045C175.123 12.4312 175.476 11.565 176.055 10.8599Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M191.76 2.90503V6.86015H194.475V10.0083H191.76V18.0441C191.717 18.4973 191.836 18.951 192.095 19.3231C192.32 19.582 192.753 19.7038 193.388 19.7038C193.807 19.7083 194.225 19.6739 194.637 19.601V22.8595C193.804 23.1141 192.938 23.2424 192.069 23.2402C189.091 23.2402 187.573 21.7175 187.515 18.6722V10.0083H185.195V6.86015H187.515V2.90503H191.76Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M196.817 20.3481C196.793 19.7501 197.056 19.1722 197.537 18.765C198.587 17.9536 200.128 17.9536 201.178 18.765C201.659 19.1722 201.922 19.7501 201.898 20.3481C201.921 20.9398 201.659 21.5113 201.182 21.9131C200.123 22.7143 198.588 22.7143 197.529 21.9131C197.054 21.5098 196.794 20.939 196.817 20.3481Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M211.281 19.7469C211.968 19.7828 212.644 19.5545 213.174 19.1069C213.658 18.6648 213.93 18.0295 213.92 17.3661H217.866C217.863 18.4309 217.559 19.4721 216.99 20.364C216.412 21.2767 215.598 22.0083 214.639 22.4781C213.613 22.9893 212.486 23.25 211.345 23.2399C209.094 23.2399 207.318 22.5086 206.016 21.0458C204.714 19.5831 204.068 17.5528 204.078 14.9549V14.673C204.078 12.1945 204.723 10.215 206.012 8.73446C207.302 7.25395 209.073 6.52131 211.326 6.53655C213.299 6.53655 214.877 7.1092 216.062 8.2545C217.247 9.39981 217.852 10.9235 217.877 12.8256H213.931C213.946 12.0727 213.68 11.3423 213.186 10.7838C212.613 10.2275 211.837 9.9438 211.049 10.0025C210.261 10.0613 209.533 10.457 209.045 11.0924C208.542 11.8237 208.3 12.997 208.3 14.6464V15.092C208.3 16.7529 208.549 17.9451 209.045 18.6689C209.56 19.3972 210.404 19.8043 211.281 19.7469Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M220.254 10.452C219.62 11.7852 219.304 13.2476 219.332 14.7237V14.9218C219.327 17.4901 220.017 19.5186 221.404 21.0072C222.791 22.4959 224.644 23.2402 226.962 23.2402C229.284 23.2402 231.134 22.4934 232.513 20.9996C233.892 19.5059 234.581 17.5244 234.581 15.0552L234.555 13.9539C234.415 11.6727 233.653 9.86649 232.269 8.53535C230.885 7.2042 229.107 6.53862 226.936 6.53862C225.53 6.50432 224.142 6.8534 222.92 7.54841C221.762 8.22882 220.833 9.23996 220.254 10.452ZM224.494 18.538C223.918 17.7302 223.629 16.5527 223.629 15.0285C223.631 13.3061 223.925 12.036 224.509 11.218C225.055 10.4127 225.979 9.94719 226.951 9.98716C227.932 9.94909 228.863 10.4166 229.42 11.2256C230.006 12.0512 230.3 13.2147 230.3 14.716C230.3 16.474 230.001 17.748 229.404 18.538C228.817 19.2993 227.91 19.7452 226.949 19.7452C225.988 19.7452 225.081 19.2993 224.494 18.538Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M240.819 6.81238L240.957 8.56855C242.091 7.21907 243.818 6.46754 245.614 6.54134C247.706 6.54134 249.139 7.3396 249.914 8.93612C250.994 7.36822 252.841 6.46012 254.786 6.54134C256.543 6.54134 257.852 7.03638 258.711 8.02648C259.57 9.01657 260 10.5017 260 12.4819V22.5065H255.657V12.4819C255.657 11.5908 255.477 10.9398 255.116 10.5289C254.756 10.118 254.116 9.91136 253.198 9.90888C251.984 9.853 250.883 10.5931 250.513 11.7133V22.514H246.201V12.4819C246.201 11.5722 246.013 10.9114 245.645 10.5067C245.276 10.102 244.647 9.89403 243.757 9.89403C242.636 9.82441 241.579 10.4087 241.072 11.3792V22.5065H236.76V6.81238H240.819Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M155.021 31.7032C154.8 32.1071 154.689 32.5504 154.696 32.9984V33.0591C154.659 33.7264 154.91 34.3814 155.399 34.8932C155.863 35.3526 156.536 35.6063 157.234 35.5854C157.705 35.5942 158.169 35.484 158.57 35.2678C158.958 35.0548 159.267 34.7474 159.46 34.3829C159.674 33.9811 159.78 33.5418 159.773 33.0983V33.0412C159.81 32.3707 159.559 31.7122 159.07 31.1965C158.604 30.7351 157.928 30.4812 157.226 30.5042C156.764 30.4964 156.309 30.604 155.914 30.8147C155.527 31.031 155.218 31.339 155.021 31.7032ZM156.089 34.4079C155.783 34.0259 155.631 33.5648 155.659 33.0983H155.638C155.598 32.6025 155.743 32.1087 156.052 31.6925C156.328 31.3802 156.752 31.1974 157.202 31.1974C157.651 31.1974 158.076 31.3802 158.351 31.6925C158.671 32.0713 158.837 32.5338 158.822 33.0056C158.857 33.5013 158.707 33.9934 158.396 34.4079C158.119 34.7203 157.693 34.903 157.242 34.903C156.792 34.903 156.366 34.7203 156.089 34.4079Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M164.126 31.2095H162.383V35.5866H161.494V31.2095H159.776V30.5028H164.134L164.126 31.2095Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M168.424 34.9314C168.867 35.3683 169.484 35.6056 170.121 35.5841C170.898 35.6206 171.636 35.2553 172.051 34.6283L171.515 34.2288C171.36 34.4221 171.168 34.5855 170.949 34.7103C170.707 34.8364 170.434 34.898 170.159 34.8886C169.746 34.9004 169.35 34.7371 169.076 34.4428C168.782 34.1182 168.625 33.7015 168.634 33.273H172.118V32.9164C172.159 32.2785 171.962 31.6473 171.564 31.1332C171.172 30.7065 170.596 30.475 170.001 30.5055C169.602 30.5069 169.211 30.6197 168.878 30.83C168.523 31.0504 168.241 31.3604 168.061 31.7252C167.861 32.1322 167.761 32.5775 167.769 33.0269V33.1803C167.735 33.8236 167.971 34.4534 168.424 34.9314ZM169.121 31.5504C169.35 31.3142 169.675 31.1841 170.013 31.1938C170.341 31.1881 170.656 31.3197 170.874 31.554C171.113 31.8334 171.245 32.1817 171.249 32.5419V32.5847H168.672C168.701 32.2029 168.859 31.8403 169.121 31.5504Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M173.742 30.6012L173.774 31.2289C174.165 30.7607 174.783 30.4905 175.434 30.5032C176.605 30.5032 177.199 31.0947 177.207 32.2848V35.5793H176.258V32.2884C176.283 32.0006 176.185 31.715 175.983 31.4901C175.757 31.3029 175.454 31.2095 175.148 31.2325C174.859 31.228 174.576 31.3055 174.34 31.4539C174.108 31.6033 173.922 31.803 173.799 32.0344V35.5866H172.85V30.6012H173.742Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M179.318 34.9316C179.762 35.3694 180.38 35.6068 181.019 35.5843C181.794 35.6195 182.53 35.2543 182.944 34.6284L182.408 34.229C182.254 34.4222 182.062 34.5856 181.843 34.7104C181.601 34.8365 181.328 34.8981 181.052 34.8888C180.64 34.9006 180.243 34.7372 179.97 34.443C179.676 34.1183 179.518 33.7016 179.528 33.2731H183.011V32.9165C183.052 32.2785 182.856 31.6473 182.457 31.1332C182.065 30.7065 181.489 30.475 180.895 30.5055C180.495 30.5069 180.104 30.6198 179.771 30.83C179.417 31.0504 179.134 31.3604 178.955 31.7252C178.754 32.1322 178.654 32.5775 178.662 33.027V33.1804C178.629 33.8237 178.864 34.4535 179.318 34.9316ZM180.018 31.5505C180.247 31.3142 180.573 31.1841 180.91 31.1938C181.239 31.1881 181.554 31.3197 181.772 31.554C182.01 31.8335 182.142 32.1818 182.146 32.542V32.5848H179.569C179.598 32.203 179.756 31.8404 180.018 31.5505Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M186.648 31.3591C186.523 31.3365 186.395 31.3256 186.268 31.3264C185.818 31.2884 185.399 31.5841 185.241 32.0516V35.5866H184.47V30.594H185.218V31.1705C185.437 30.7453 185.851 30.4887 186.294 30.5034C186.406 30.4997 186.518 30.5207 186.622 30.565L186.648 31.3591Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M187.934 31.2116C187.536 31.7648 187.341 32.4364 187.379 33.1153C187.343 33.8201 187.545 34.5165 187.952 35.0938C188.291 35.5595 188.838 35.8302 189.415 35.8179C189.963 35.8446 190.494 35.6222 190.859 35.2132V35.6611C190.877 36.0351 190.742 36.4005 190.484 36.6727C190.217 36.9302 189.854 37.0654 189.482 37.046C188.935 37.0464 188.42 36.7872 188.095 36.348L187.637 36.8743C187.843 37.1636 188.126 37.3889 188.455 37.5238C188.796 37.6793 189.167 37.7608 189.542 37.7627C190.13 37.7914 190.704 37.5843 191.136 37.1879C191.545 36.7703 191.759 36.202 191.729 35.6201V30.5957H190.922L190.881 31.1631C190.509 30.7353 189.965 30.4937 189.396 30.5031C188.827 30.5124 188.292 30.7718 187.934 31.2116ZM188.62 34.5786C188.361 34.1725 188.237 33.6961 188.264 33.2161C188.226 32.6957 188.352 32.1766 188.624 31.7305C188.852 31.406 189.231 31.2191 189.629 31.234C190.146 31.2216 190.623 31.5143 190.844 31.9806V34.3285C190.626 34.8007 190.143 35.0954 189.621 35.0751C189.224 35.0922 188.846 34.9047 188.62 34.5786Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M192.782 31.7032C192.563 32.1074 192.453 32.5508 192.461 32.9985V33.0591C192.426 33.7262 192.676 34.3808 193.163 34.8932C193.629 35.3523 194.302 35.6059 195.002 35.5854C195.471 35.5946 195.933 35.4843 196.333 35.2679C196.72 35.054 197.03 34.7469 197.226 34.3829C197.439 33.9811 197.546 33.5419 197.538 33.0984V33.0413C197.576 32.37 197.324 31.7109 196.832 31.1965C196.367 30.7348 195.691 30.4807 194.99 30.5043C194.048 30.4809 193.18 30.9521 192.782 31.7032ZM193.861 34.4079C193.553 34.0265 193.397 33.5659 193.419 33.0984C193.388 32.5994 193.545 32.1052 193.865 31.6925C194.14 31.3803 194.563 31.1975 195.012 31.1975C195.461 31.1975 195.884 31.3803 196.158 31.6925C196.467 32.0723 196.621 32.5323 196.597 32.9985C196.632 33.4947 196.481 33.9874 196.166 34.4008C195.902 34.7265 195.469 34.914 195.014 34.9003C194.561 34.9125 194.13 34.7285 193.861 34.4079Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M200.43 32.6816H198.269V31.9553H200.447L200.43 32.6816Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M203.361 33.2179L202.795 33.7877V35.5866H201.899V28.324H202.795V32.7151L203.277 32.1527L204.914 30.4693H206.008L203.961 32.6071L206.257 35.5866H205.201L203.361 33.2179Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M206.585 31.7032C206.366 32.1074 206.256 32.5508 206.264 32.9985L206.26 33.0591C206.225 33.7262 206.475 34.3808 206.963 34.8932C207.429 35.3523 208.103 35.6059 208.802 35.5854C209.272 35.5946 209.734 35.4843 210.134 35.2679C210.522 35.054 210.832 34.7469 211.028 34.3829C211.24 33.9808 211.346 33.5416 211.336 33.0984V33.0413C211.377 32.3709 211.127 31.7119 210.638 31.1965C210.172 30.7348 209.496 30.4807 208.794 30.5043C207.852 30.4809 206.983 30.9521 206.585 31.7032ZM207.653 34.4079C207.347 34.0259 207.196 33.5649 207.223 33.0984C207.188 32.6006 207.341 32.1066 207.657 31.6925C207.932 31.3803 208.355 31.1975 208.804 31.1975C209.253 31.1975 209.677 31.3803 209.952 31.6925C210.26 32.0723 210.415 32.5323 210.39 32.9985C210.424 33.4946 210.272 33.9868 209.96 34.4008C209.695 34.7265 209.262 34.914 208.806 34.9003C208.353 34.9125 207.922 34.7285 207.653 34.4079Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M212.96 30.6011L212.992 31.2284C213.383 30.7605 214.001 30.4905 214.652 30.5032C215.823 30.5032 216.417 31.0942 216.425 32.2835V35.5757H215.476V32.2871C215.499 32.0014 215.403 31.7181 215.205 31.4931C214.977 31.3065 214.673 31.2133 214.365 31.2356C214.077 31.2311 213.794 31.3085 213.558 31.4568C213.326 31.6061 213.139 31.8057 213.016 32.0369V35.5866H212.067V30.6011H212.96Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M221.306 34.1803C221.315 33.9749 221.208 33.7788 221.021 33.6578C220.713 33.4915 220.37 33.3815 220.013 33.3343C219.62 33.2675 219.239 33.1577 218.877 33.0073C218.63 32.9047 218.416 32.7496 218.254 32.5559C218.118 32.3715 218.047 32.1545 218.054 31.9339C218.054 31.5349 218.267 31.1595 218.628 30.9208C219.045 30.6331 219.565 30.4857 220.093 30.5049C220.642 30.4827 221.181 30.6339 221.615 30.9315C221.986 31.2001 222.195 31.6058 222.181 32.0298H221.234C221.233 31.7986 221.111 31.5807 220.904 31.4398C220.674 31.2681 220.378 31.1794 220.077 31.191C219.792 31.175 219.509 31.2452 219.274 31.39C219.085 31.5088 218.975 31.7035 218.981 31.909C218.973 32.0922 219.075 32.2655 219.25 32.364C219.557 32.5063 219.888 32.6047 220.23 32.6554C220.624 32.7284 221.008 32.8405 221.374 32.9896C221.631 33.0951 221.853 33.2565 222.021 33.4588C222.169 33.6549 222.243 33.8876 222.233 34.1235C222.253 34.5443 222.031 34.9454 221.643 35.1898C221.195 35.4674 220.656 35.6061 220.109 35.5844C219.717 35.588 219.328 35.5177 218.969 35.3782C218.647 35.2534 218.369 35.0531 218.166 34.7988C217.978 34.5627 217.877 34.2809 217.877 33.9919H218.821C218.826 34.2534 218.967 34.4982 219.202 34.6566C219.473 34.8301 219.803 34.9166 220.137 34.9019C220.438 34.9142 220.737 34.8487 220.997 34.7135C221.2 34.5978 221.318 34.3943 221.306 34.1803Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M226.389 34.9982C225.978 35.4026 225.387 35.6175 224.78 35.5828C224.278 35.6144 223.785 35.4459 223.432 35.1217C223.096 34.7312 222.93 34.2428 222.966 33.7491V30.5028H223.911V33.7273C223.911 34.4826 224.253 34.8602 224.933 34.8602C225.536 34.9216 226.115 34.6295 226.373 34.134V30.5028H227.318V35.4921H226.389V34.9982Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M229.497 35.5866H228.771V28.324H229.497V35.5866Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M232.832 29.0503V30.3067H233.828V30.9934H232.832V34.2119C232.819 34.3769 232.866 34.5413 232.965 34.676C233.084 34.7929 233.251 34.8512 233.42 34.8345C233.566 34.8293 233.712 34.8103 233.855 34.7779V35.491C233.627 35.5528 233.392 35.5845 233.155 35.5853C232.804 35.6014 232.464 35.4627 232.23 35.208C232.006 34.9144 231.896 34.5538 231.919 34.1893V30.9934H230.95V30.3067H231.922V29.0503H232.832Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M237.862 34.9808C237.874 35.1577 237.917 35.3317 237.988 35.4961L238.939 35.4784V35.4037C238.802 35.0632 238.739 34.7007 238.755 34.3375V32.0877C238.764 31.6469 238.569 31.2235 238.218 30.9256C237.815 30.6273 237.308 30.478 236.793 30.5062C236.43 30.5013 236.071 30.5692 235.739 30.7052C235.439 30.8208 235.175 31.0055 234.973 31.2419C234.797 31.4434 234.699 31.6935 234.693 31.9527H235.598C235.603 31.7318 235.725 31.5274 235.923 31.4054C236.159 31.2508 236.443 31.1722 236.732 31.1814C237.035 31.1602 237.335 31.2538 237.563 31.4409C237.761 31.6306 237.864 31.8884 237.847 32.1517V32.5533H236.969C236.352 32.5112 235.735 32.6532 235.211 32.9585C234.798 33.2285 234.562 33.6741 234.582 34.142C234.573 34.54 234.759 34.9203 235.088 35.1763C235.442 35.4576 235.898 35.6037 236.364 35.585C236.933 35.5888 237.477 35.3693 237.862 34.9808ZM237.299 34.6574C237.056 34.7901 236.78 34.8601 236.498 34.86C236.236 34.8696 235.979 34.7913 235.774 34.6396C235.583 34.4859 235.478 34.2592 235.49 34.0247C235.49 33.4276 236.042 33.1255 237.146 33.1255H237.85V34.1278C237.73 34.3527 237.537 34.5376 237.299 34.6574Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M240.558 30.6012L240.59 31.2289C240.98 30.7607 241.599 30.4905 242.25 30.5032C243.421 30.5032 244.015 31.0947 244.023 32.2848V35.5793H243.074V32.2884C243.099 32.0006 243 31.715 242.799 31.4901C242.573 31.3029 242.269 31.2095 241.963 31.2325C241.674 31.228 241.392 31.3055 241.155 31.4539C240.923 31.6033 240.737 31.803 240.614 32.0344V35.5866H239.665V30.6012H240.558Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M246.633 29.0503V30.3067H247.631V30.9934H246.633V34.2119C246.621 34.3767 246.667 34.5405 246.765 34.676C246.884 34.7929 247.051 34.8512 247.219 34.8345C247.366 34.8295 247.511 34.8106 247.654 34.7779V35.491C247.426 35.5528 247.191 35.5845 246.955 35.5853C246.604 35.6014 246.264 35.4627 246.031 35.208C245.807 34.9144 245.697 34.5538 245.72 34.1893V30.9934H244.749V30.3067H245.72V29.0503H246.633Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M249.107 35.2243C249.103 35.13 249.167 35.0382 249.286 34.9669C249.428 34.892 249.626 34.8534 249.828 34.8614C250.029 34.8545 250.227 34.8929 250.369 34.9669C250.493 35.0371 250.561 35.1291 250.558 35.2243C250.567 35.3199 250.499 35.4132 250.369 35.4817C250.226 35.5547 250.028 35.5922 249.828 35.5846C249.638 35.5953 249.449 35.5624 249.31 35.4945C249.172 35.4266 249.097 35.3307 249.107 35.232V35.2243Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M254.19 31.3589C254.065 31.3364 253.939 31.3255 253.812 31.3263C253.361 31.2879 252.941 31.5834 252.782 32.0515V35.5866H252.011V30.5939H252.762V31.1704C252.983 30.7464 253.396 30.4902 253.838 30.5033C253.95 30.4993 254.062 30.5203 254.167 30.5649L254.19 31.3589Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M258.348 34.9982C257.936 35.4026 257.344 35.6175 256.737 35.5828C256.234 35.6144 255.742 35.4459 255.388 35.1217C255.05 34.732 254.883 34.243 254.921 33.7491V30.5028H255.867V33.7273C255.867 34.4826 256.206 34.8602 256.89 34.8602C257.493 34.9216 258.073 34.6295 258.331 34.134V30.5028H259.274V35.4921H258.376L258.348 34.9982Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M145.978 33.4078L0 33.0447L145.978 32.6816V33.4078Z" fill="#178AE4"/>
                        </svg>


                    nav.header__nav

                        button.header__nav-toggle
                            span
                            span
                            span

                        .header__nav-offcanvas

                            ul.header__nav-menu
                                li
                                    a(href="#").header__nav-link
                                        | О компании
                                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.245685 2.25586L4.01397 6.02415C4.30792 6.31658 4.7827 6.31658 5.07664 6.02415L8.84493 2.25586C9.08685 1.974 9.08685 1.55722 8.84493 1.27536C8.57436 0.959567 8.09806 0.922662 7.78226 1.19323L4.54907 4.42639L1.30835 1.19319C1.01441 0.90077 0.539629 0.90077 0.245685 1.19319C-0.0467386 1.48714 -0.0467386 1.96196 0.245685 2.25586Z" fill="currentColor"/>
                                        </svg>
                                    .header__nav-dropdown
                                        ul.header__nav-submenu
                                            li
                                                a(href="#").header__nav-sublink История
                                            li
                                                a(href="#").header__nav-sublink Отзывы
                                li.is-fullscreen
                                    a(href="#").header__nav-link
                                        | Услуги потребителям электроэнергии
                                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.245685 2.25586L4.01397 6.02415C4.30792 6.31658 4.7827 6.31658 5.07664 6.02415L8.84493 2.25586C9.08685 1.974 9.08685 1.55722 8.84493 1.27536C8.57436 0.959567 8.09806 0.922662 7.78226 1.19323L4.54907 4.42639L1.30835 1.19319C1.01441 0.90077 0.539629 0.90077 0.245685 1.19319C-0.0467386 1.48714 -0.0467386 1.96196 0.245685 2.25586Z" fill="currentColor"/>
                                        </svg>
                                    .header__nav-dropdown
                                        .row
                                            .col-xl-4
                                                .header__nav-group
                                                    span.header__nav-group-title
                                                        | Услуги по снижению стоимости электроэнергии
                                                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.245685 2.25586L4.01397 6.02415C4.30792 6.31658 4.7827 6.31658 5.07664 6.02415L8.84493 2.25586C9.08685 1.974 9.08685 1.55722 8.84493 1.27536C8.57436 0.959567 8.09806 0.922662 7.78226 1.19323L4.54907 4.42639L1.30835 1.19319C1.01441 0.90077 0.539629 0.90077 0.245685 1.19319C-0.0467386 1.48714 -0.0467386 1.96196 0.245685 2.25586Z" fill="currentColor"/>
                                                        </svg>
                                                    ul.header__nav-group-menu
                                                        li
                                                            a(href="#").header__nav-group-link Гарантированное снижение тарифов и выход на оптовый рынок ээ
                                                        li
                                                            a(href="#").header__nav-group-link Оптимизация условий энергоснабжения на розничном рынке ээ
                                                        li
                                                            a(href="#").header__nav-group-link Покупка электроэнергии у генерации и потребителей с блок-станциями
                                                        li
                                                            a(href="#").header__nav-group-link Создание энергосбытовой компании
                                                        li
                                                            a(href="#").header__nav-group-link Услуги Девелоперам и застройщикам

                                            .col-xl-4

                                                .header__nav-group
                                                    span.header__nav-group-title
                                                        | Юридические услуги и защита прав потребителей
                                                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.245685 2.25586L4.01397 6.02415C4.30792 6.31658 4.7827 6.31658 5.07664 6.02415L8.84493 2.25586C9.08685 1.974 9.08685 1.55722 8.84493 1.27536C8.57436 0.959567 8.09806 0.922662 7.78226 1.19323L4.54907 4.42639L1.30835 1.19319C1.01441 0.90077 0.539629 0.90077 0.245685 1.19319C-0.0467386 1.48714 -0.0467386 1.96196 0.245685 2.25586Z" fill="currentColor"/>
                                                        </svg>
                                                    ul.header__nav-group-menu
                                                        li
                                                            a(href="#").header__nav-group-link Защита прав потребителей в случае составления акта безучетного или бездоговорного потребления электроэнергии
                                                        li
                                                            a(href="#").header__nav-group-link Взыскание неверно рассчитанной стоимости (переплаты) за потребленную электрическую энергию с поставщика электроэнергии
                                                        li
                                                            a(href="#").header__nav-group-link Защита прав потребителей и представление интересов в антимонопольных органах (ФАС России)

                                            .col-xl-4

                                                .header__nav-group
                                                    span.header__nav-group-title
                                                        | Инжиниринговые услуги
                                                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.245685 2.25586L4.01397 6.02415C4.30792 6.31658 4.7827 6.31658 5.07664 6.02415L8.84493 2.25586C9.08685 1.974 9.08685 1.55722 8.84493 1.27536C8.57436 0.959567 8.09806 0.922662 7.78226 1.19323L4.54907 4.42639L1.30835 1.19319C1.01441 0.90077 0.539629 0.90077 0.245685 1.19319C-0.0467386 1.48714 -0.0467386 1.96196 0.245685 2.25586Z" fill="currentColor"/>
                                                        </svg>
                                                    ul.header__nav-group-menu
                                                        li
                                                            a(href="#").header__nav-group-link Технологическое присоединение к электрическим сетям
                                                        li
                                                            a(href="#").header__nav-group-link Создание систем учета ээ (АИИС КУЭ)
                                                        li
                                                            a(href="#").header__nav-group-link Проектирование систем АСУ ТП энергетических объектов
                                li
                                    a(href="#").header__nav-link Контакты


            main.main

                    // Intro :: Start
                    .intro
                        .container-fluid

                            .intro__item

                                .row
                                    .col-md-6.push-md-6

                                        figure.intro__item-image
                                            img(src="images/img-intro-01.png", alt="")

                                            dl.intro__item-dl
                                                dt  110 млн. руб.
                                                dd ээ было куплено с помощью нас на ОРЭМ

                                    .col-md-6.pull-md-6

                                        .intro__item-desc
                                            h2.intro__item-title Хотите снизить затраты на ээ? #[br] Покупайте электричество #[br] дешевле на оптовом рынке
                                            p.intro__item-text Мы предоставим Вам возможность выбрать любого понравившегося Вам поставщика для покупки напрямую с оптового рынка ээ и построим для Вас систему учета ээ. Каких-либо инвестиций от вас не требуется
                                            .intro__item-control
                                        
                                                a(href="#popup-request" data-fancybox).ui-btn.ui-btn--red
                                                    | Призыв к действию
                                                    +sprite('icon-arrow-btn')


                    // Intro :: End

                    // Topbar :: Start
                    .topbar
                        .container-fluid

                            h1.topbar__title О компании

                            figure.topbar__image
                                img(src="images/img-01.png", alt="alt")

                    // Topbar :: End

        // App :: End