---
title: Services 04 - Energo-market
bodyClass: is-page-default
---
extends includes/_app


block main

    // Intro :: Start
    .intro
        .container-fluid

            .intro__item

                .row
                    .col-md-6.push-md-6

                        figure.intro__item-image
                            img(src="images/img-intro-01.png", alt="")

                    .col-md-6.pull-md-6

                        .intro__item-desc
                            h2.intro__item-title Получите контроль над #[br]энергоснабжением #[br]Вашей компании
                            h3.intro__item-subtitle И поднимите Ваш бизнес на новую высоту!
                            p.intro__item-text
                                small Задумываетесь о создании собственной энергосбытовой компании?#[br]Оставьте заявку и получите бесплатную консультацию эксперта!

                            .intro__item-control

                                a(href="#popup-request" data-fancybox).ui-btn.ui-btn--red
                                    | Оставить заявку
                                    +sprite('icon-arrow-btn')


    // Intro :: End

    // Activity :: Start
    .activity
        .container-fluid

            h2.activity__title Что это вообще такое - #[br] энергосбытовая деятельность?

            .activity__section
                .row
                    .col-md-6.col-xl-4
                        .ui-card
                            h4 А знаете ли Вы, что основные субъекты электроэнергетики это генерирующие и электросетевые компании, а также гарантирующие поставщики и энергосбытовые компании?
                            p Генерирующие компании – производят электроэнергию. #[br] Электросети – передают электричество от генерации до потребителя. #[br] Гарантирующие поставщики и энергосбытовые компании - посредники, которые выставляют счета и собирают оплату с потребителей.
                    .col-md-6.col-xl-4
                        .ui-card
                            h4 А знаете ли Вы, чем отличается гарантирующий поставщик от энергосбытовой компании?
                            p Все предприятия и организации в России в 2006 году директивно стали клиентами гарантирующих поставщиков (после завершения реформирования электроэнергетики). #[br]Энергосбытовые компании не получили такого преимущества в виде готового пула клиентов и с 2006 года они постепенно "уводят" своих потребителей у гарантирующих поставщиков. Фактически, гарантирующий поставщик это та же энергосбытовая организация, но с определенными обязательствами по обслуживанию населения, отказаться от которых ему невозможно.
                    .col-md-6.col-xl-4
                        .ui-card
                            h4 А знаете ли Вы, сколько сейчас Вам обходятся услуги гарантирующих поставщиков и энергосбытовых компаний?
                            p Стоимость услуг посредников по перепродаже электроэнергии потребителям обходится от 2 коп. (плата энергосбытовым компаниям) до 50 коп. (плата гарантирующим поставщикам) за каждый потребленный кВт.ч. #[br]Размер платы зависит от региона, максимальной мощности потребителя, цен на электроэнергию на оптовом рынке и условий договора энергоснабжения.


    // Activity :: End


    // Profit :: Start
    .profit
        .container-fluid

            .profit__text
                p ХОТИТЕ СНИЗИТЬ СТОИМОСТЬ ЭЛЕКТРОЭНЕРГИИ И ПОЛУЧИТЬ НОВЫЕ ГОРИЗОНТЫ РАЗВИТИЯ КОМПАНИИ?
                p
                    mark СОЗДАЙТЕ СВОЮ ЭНЕРГОСБЫТОВУЮ КОМПАНИЮ И НАЧНИТЕ КОНТРОЛИРОВАТЬ ЭНЕРГОСНАБЖЕНИЕ ВАШЕГО БИЗНЕСА!

            h2.profit__title Кому и почему будет выгодно создать #[br] энергосбытовую компанию?

            .profit__section
                .row
                    .col-md-6
                        .ui-card
                            h4 Кому? #[br] [Крупным предприятиям и холдингам с энергоемкими объектами и годовым потреблением электроэнергии от 50 млн. кВт.ч.
                            p Почему?
                            ul
                                li Снижение стоимости электроэнергии до 10%.
                                li Энергосбытовая компания станет единым центром ответственности во всех вопросах энергоснабжения холдинга.
                                li Ценообразование на приобретаемую электроэнергию будет под полным контролем.
                    .col-md-6
                        .ui-card
                            h4 Кому? #[br] Компаниям с большим количеством неэнергоемких объектов, рассредоточенных на территории одного или нескольких регионов
                            p Почему?
                            ul
                                li Унификация и централизация условий энергоснабжения.
                                li Ускорение сроков начала энергоснабжения для вновь вводимых объектов.
                                li Снижение стоимости электроэнергии до 5%.
                                li Ценообразование на приобретаемую электроэнергию будет под полным контролем.
                    .col-md-6
                        .ui-card
                            h4 Кому? #[br] [Крупным предприятиям и холдингам с энергоемкими объектами и годовым потреблением электроэнергии от 50 млн. кВт.ч.
                            p Почему?
                            ul
                                li Снижение стоимости электроэнергии до 10%.
                                li Энергосбытовая компания станет единым центром ответственности во всех вопросах энергоснабжения холдинга.
                                li Ценообразование на приобретаемую электроэнергию будет под полным контролем.
                    .col-md-6
                        .ui-card
                            h4 Кому? #[br] Компаниям с большим количеством неэнергоемких объектов, рассредоточенных на территории одного или нескольких регионов
                            p Почему?
                            ul
                                li Унификация и централизация условий энергоснабжения.
                                li Ускорение сроков начала энергоснабжения для вновь вводимых объектов.
                                li Снижение стоимости электроэнергии до 5%.
                                li Ценообразование на приобретаемую электроэнергию будет под полным контролем.


    // Profit :: End

    // Create :: Start
    .create
        .container-fluid

            h2.create__title Что нужно для создания энергосбытовой #[br] компании и сколько это стоит?

            .create__section
                .row
                    .col-md-6.col-xl-4

                        .ui-variant
                            mark Вариант 1
                            h3 Вывести объекты Заказчика на оптовый рынок. Необходима система АИИС КУЭ и статус субъекта оптового рынка электроэнергии, подбор персонала.
                            ul
                                li Стоимость строительства системы АИИС КУЭ и регистрация ГТП (группы точек поставки) на оптовом рынке - от 200 тыс. руб. за точку учета.
                                li Затратами на получение статуса субъекта оптового рынка является размер вступительного (едино разового) взноса - 1 млн. руб.
                                li Подбор и обучение персонала для Заказчика. Затраты на оплату труда персонала - от 3 млн. руб. в год.

                    .col-md-6.col-xl-4

                        .ui-variant
                            mark Вариант 2
                            h3 Унифицировать и провести централизацию условий энергоснабжения Заказчика (цена наших услуг - договорная - в зависимости от количества объектов Заказчика). Для этого необходимо:
                            ul
                                li Стоимость строительства системы АИИС КУЭ и регистрация ГТП (группы точек поставки) на оптовом рынке - от 200 тыс. руб. за точку учета.
                                li Затратами на получение статуса субъекта оптового рынка является размер вступительного (едино разового) взноса - 1 млн. руб.
                                li Подбор и обучение персонала для Заказчика. Затраты на оплату труда персонала - от 3 млн. руб. в год.

                    .col-md-6.col-xl-4

                        .ui-variant
                            mark Вариант 3
                            h3 Увеличить доходность существующего бизнеса Заказчика (цена наших услуг - 10% от размера экономического эффекта Заказчика). Для этого необходимо
                            ul
                                li Стоимость строительства системы АИИС КУЭ и регистрация ГТП (группы точек поставки) на оптовом рынке - от 200 тыс. руб. за точку учета.
                                li Затратами на получение статуса субъекта оптового рынка является размер вступительного (едино разового) взноса - 1 млн. руб.
                                li Подбор и обучение персонала для Заказчика. Затраты на оплату труда персонала - от 3 млн. руб. в год.

    // Create :: End

    // Why :: Start
    .why
        .container-fluid

            h2.why__title Почему мы?

            .why__section
                .row
                    .col-md-6.col-xl-4

                        .ui-card
                            mark 1
                            h3 Мы - дружная команда профессионалов.
                            p В нашей команде инженеры, экономисты и юристы - выходцы из разных отраслей электроэнергетики. Мы знаем, как работает отрасль «изнутри».

                    .col-md-6.col-xl-4

                        .ui-card
                            mark 2
                            h3 Созданная энергосбытовая компания находится под Вашим контролем.
                            p Новая энергосбытовая компания будет полностью контролироваться Вами. Мы выступаем как внешние консультанты, предлагаем Вам решения и реализуем поставленные нам задачи. При этом по условиям договора с нашей компанией, мы несем полную ответственность за разработанную стратегию и предложенные решения.

                    .col-md-6.col-xl-4

                        .ui-card
                            mark 3
                            h3 Мы хотим быть уверены, что наши клиенты нам доверяют
                            p Доверие сложно получить и очень легко потерять. Для нас самое ценное – Ваше доверие. Мы готовы давать любые необходимые пояснения для каждого шага по созданию энергосбытовой компании и дальнейшей ее работы. Все будет понятно и прозрачно!

                    .col-md-6.col-xl-4

                        .ui-card
                            mark 4
                            h3 Мы за открытость и простоту в общении.
                            p Поэтому мы предпочитаем общаться с клиентами на простом и понятном потребителю языке.
                    
                    .col-md-6.col-xl-4

                        .ui-card
                            mark 5
                            h3 Мы выполняем все работы «под ключ»
                            p Сэкономьте свое время: позвольте нам решить все ваши вопросы в энергоснабжении.


    // Why :: End


    // Partners :: Start
    .partners
        .container-fluid

            h2.partners__title Клиентами Энерго-Консультант #[br] являются такие компании как:

            .partners__section

                ul.partners__grid
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-01.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-02.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-03.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-04.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-05.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-06.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-07.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-08.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-09.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-10.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-11.png", alt="alt")
                    li
                        a(href="#").partners__item
                            img(src="images/img-partners-12.png", alt="alt")

    // Partners :: End

    // Request :: Start
    .request
        .container-fluid

            h2.request__title Хотите оценить Ваш эффект от #[br] создания энергосбытовой компании?

            .request__section

                .request__text

                    p По вопросам создания энергосбытовой компании, Вы можете позвонить по телефону: #[br] #[a(href="tel:84994098401") 8 (499) 409-84-01 ]
                    p с 9-00 по 18-00  мск или заполнить форму обратной связи и в течение 1 часа, в рабочее время, наши эксперты свяжутся с Вами
                        

                .request__form
                    form(action="#").js-validate

                        
                        .row
                            .col-md-6

                                label.ui-label Имя
                                .ui-field
                                    input(type="text" name="firstname" placeholder="Ваше имя").ui-input.ui-input--50.ui-input--white

                                label.ui-label Телефон
                                .ui-field
                                    input(type="tel" name="tel" placeholder="Ваш телефон").ui-input.ui-input--50.ui-input--white

                                label.ui-label E-mail
                                .ui-field
                                    input(type="email" name="email" placeholder="Ваш e-mail").ui-input.ui-input--50.ui-input--white

                            .col-md-6

                                label.ui-label Сообщение
                                .ui-field
                                    textarea(name="message" placeholder="Введите ваше сообщение").ui-textarea.ui-textarea--50.ui-textarea--white

                                .ui-action
                                    button.ui-btn.ui-btn--red.ui-btn--50.ui-btn--fullwidth Отправить

    // Request :: End

