---
title: Services 02 - Energo-market
bodyClass: is-page-default
---
extends includes/_app


block main

    // Intro :: Start
    .intro
        .container-fluid

            .intro__item

                .row
                    .col-md-6.push-md-6

                        figure.intro__item-image
                            img(src="images/img-intro-01.png", alt="")

                    .col-md-6.pull-md-6

                        .intro__item-desc
                            h2.intro__item-title Хотите снизить затраты #[br] на электрическую энергию?
                            h3.intro__item-subtitle Мы поможем Вам оптимизировать условия энергоснабжения вашего бизнеса и начать экономить.
                            p.intro__item-text Для этого мы сделаем:
                            ol.intro__item-list
                                li Создадим современную систему учета электроэнергии.
                                li Предоставим лучший уровень сервиса.
                                li Будем предоставлять Вам юридическую консультацию 24*7
                                li Вы сможете выбрать условия по платежам за ээ.

                            .intro__item-control
                        
                                a(href="#popup-request" data-fancybox).ui-btn.ui-btn--red
                                    | Призыв к действию
                                    +sprite('icon-arrow-btn')


    // Intro :: End

    // For :: Start
    .for
        .container-fluid

            h2.for__title Для кого может быть интересна #[br] смена поставщика ээ?
            
            .for__section

                h3 Предприятиям и организациям с максчимальной мощностью менее 670 кВт (магазины, АЗС, ТРЦ, и т.д.)

                ul
                    li Для предприятий у которых затраты на электроэнергию являются существенной статьей в общей структуре затрат
                    li Для кого возможное снижения затрат на электроэнергию около является критичным
                    li Для тех кто недоволен уровнем сервиса текущегопоставщика электроэнергии
                    li Для тех кому необходима постоянная поддредка в решении иных вопросов энергоснабжения и техприсоединения
                    li Для тех кому необходима современная система учета электроэнергии и доступ к ней 24*7

    // For :: End


    // Offer :: Start
    .offer
        .container-fluid

            h2.offer__title Мы предлагаем оптимальную #[br] цену на электроэнергию

            .offer__section

                h3 За счет оптимизации условий вы за тот же объем электроэнергииплатите меньше.

                h4 Ценообразование основывается на:

                ul
                    li Выборе выгоднойценовой категории
                    li Приведении уровня тарифногонапряжения в соответствие с законодательством
                    li Уменьшении размера потерь
                    li Исключении вознагражденийпо агентским договорам и увеличение налоговой базы НДС

                h4 Мы делаем сервис удобным.#[br]Минимум договоров согласований и трудозатрат ваших сотрудников по сопровождению, договора энергоснабжения

                ul
                    li Экономия времени техническихспециалистов
                    li Снижение транзакционныхиздержек
                
                h4 Мы устанавливаем современную систему сбора данных с приборов учета электроэнергии.#[br]Вся информация хранится на сервере и доступна 24/7

                h4 Система позволяет:

                ul
                    li Покупать электроэнергиюна оптимальных условиях
                    li Контролировать объем потребления предприятия
                    li Контролировать отключения объектов
                    li Полностью снимает задачу по ручному сбору показаний

                h3 Мы инвестируем в систему учета электрической энергии для получения доступа к ней в в режиме 24*7.

                h4 Как это работает:

                ol
                    li Мы анализируем текущие условия энергоснабжения вашего объекта.
                    li Готовим предложение о сотрудничестве.
                    li Заключаем договор.
                    li Через месяца начинаем поставлять ээ 2.


                // Request :: Start
                .ui-request
                    .row
                        .col-md
                            h3 Хотите узнать сколько Вы сможете сэкономить?
                        .col-md-auto
                            a(href="#popup-request" data-fancybox).ui-btn.ui-btn--red
                                | Отправить заявку
                                +sprite('icon-arrow-btn')
                // Request :: End

    // Offer :: End