---
title: Services 01 - Energo-market
bodyClass: is-page-default
---
extends includes/_app


block main

    // Intro :: Start
    .intro
        .container-fluid

            .intro__item

                .row
                    .col-md-6.push-md-6

                        figure.intro__item-image
                            img(src="images/img-intro-01.png", alt="")

                            dl.intro__item-dl
                                dt  110 млн. руб.
                                dd ээ было куплено с помощью нас на ОРЭМ

                    .col-md-6.pull-md-6

                        .intro__item-desc
                            h2.intro__item-title Хотите снизить затраты на ээ? #[br] Покупайте электричество #[br] дешевле на оптовом рынке
                            p.intro__item-text Мы предоставим Вам возможность выбрать любого понравившегося Вам поставщика для покупки напрямую с оптового рынка ээ и построим для Вас систему учета ээ. Каких-либо инвестиций от вас не требуется
                            .intro__item-control
                        
                                a(href="#popup-request" data-fancybox).ui-btn.ui-btn--red
                                    | Призыв к действию
                                    +sprite('icon-arrow-btn')


    // Intro :: End

    // Buy :: Start
    .buy
        .container-fluid

            h2.buy__title Зачем покупать ээ на оптовом рынке ээ?
            
            .buy__section

                ul.buy__grid
                    li
                        .buy__item
                            h3.buy__item-title
                                span.buy__item-title-icon
                                    +sprite('icon-arrow-toggle')
                                span.buy__item-title-text
                                    u Электроэнергия дешевле

                            .buy__item-content
                                p Мы предоставим Вам возможность выбрать любого понравившегося Вам поставщика для покупки напрямую с оптового рынка ээ и построим для Вас систему учета ээ. Каких-либо инвестиций от вас не требуется
                    li
                        .buy__item
                            h3.buy__item-title
                                span.buy__item-title-icon
                                    +sprite('icon-arrow-toggle')
                                span.buy__item-title-text
                                    u Долгосрочная экономия

                            .buy__item-content
                                p Мы предоставим Вам возможность выбрать любого понравившегося Вам поставщика для покупки напрямую с оптового рынка ээ и построим для Вас систему учета ээ. Каких-либо инвестиций от вас не требуется
                    li
                        .buy__item
                            h3.buy__item-title
                                span.buy__item-title-icon
                                    +sprite('icon-arrow-toggle')
                                span.buy__item-title-text
                                    u Экономия будет увеличиваться

                            .buy__item-content
                                p Мы предоставим Вам возможность выбрать любого понравившегося Вам поставщика для покупки напрямую с оптового рынка ээ и построим для Вас систему учета ээ. Каких-либо инвестиций от вас не требуется
                    li
                        .buy__item
                            h3.buy__item-title
                                span.buy__item-title-icon
                                    +sprite('icon-arrow-toggle')
                                span.buy__item-title-text
                                    u У вас появится современная система учета ээ

                            .buy__item-content
                                p Мы предоставим Вам возможность выбрать любого понравившегося Вам поставщика для покупки напрямую с оптового рынка ээ и построим для Вас систему учета ээ. Каких-либо инвестиций от вас не требуется
                    li
                        .buy__item
                            h3.buy__item-title
                                span.buy__item-title-icon
                                    +sprite('icon-arrow-toggle')
                                span.buy__item-title-text
                                    u Объем работы не увеличится - мы будем делать все за Вас

                            .buy__item-content
                                p Мы предоставим Вам возможность выбрать любого понравившегося Вам поставщика для покупки напрямую с оптового рынка ээ и построим для Вас систему учета ээ. Каких-либо инвестиций от вас не требуется
                    li
                        .buy__item
                            h3.buy__item-title
                                span.buy__item-title-icon
                                    +sprite('icon-arrow-toggle')
                                span.buy__item-title-text
                                    u Самые надежные поставщики ээ

                            .buy__item-content
                                p Мы предоставим Вам возможность выбрать любого понравившегося Вам поставщика для покупки напрямую с оптового рынка ээ и построим для Вас систему учета ээ. Каких-либо инвестиций от вас не требуется
                    li
                        .buy__item
                            h3.buy__item-title
                                span.buy__item-title-icon
                                    +sprite('icon-arrow-toggle')
                                span.buy__item-title-text
                                    u Ваши конкуренты уже экономят

                            .buy__item-content
                                p Мы предоставим Вам возможность выбрать любого понравившегося Вам поставщика для покупки напрямую с оптового рынка ээ и построим для Вас систему учета ээ. Каких-либо инвестиций от вас не требуется
    // Buy :: End


    // Works :: Start
    .works
        .container-fluid

            h2.works__title Как это работает?

            .works__section

                h3 Как Вы оплачиваете ээ сейчас (на розничном рынке ээ)?

                p Если Вы это читаете, то скорее всего, Ваша организация сейчас покупает ээ у гарантирующего поставщика и переплачивает.

                h4 Структура цены на ээ:

                figure
                    img(src="images/img-works-01.png", alt="alt")
                
                p Сбытовая надбавка гарантирующего поставщика составляет до 60 коп. с каждого кВт.ч. потребленной ээ. Именно эту величину и можно сэкономить.

                h3 Как вы будете платить на оптовом рынке ээ?

                figure
                    img(src="images/img-works-02.png", alt="alt")

    // Works :: End

    // Save :: Start
    .save
        .container-fluid
            
            h2.save__title Сколько можно #[br] сэкономить?

            .save__section

                .save__form
                    form(action="#")
                        .row
                            .col-md-6
                            
                                label.ui-label Ваш регион
                                .ui-field
                                    input(type="text" placeholder="Выберите ваш регион").ui-input.ui-input--50.ui-input--white

                                label.ui-label Объем электроэнергии
                                .ui-field
                                    input(type="text" placeholder="Напишите объем").ui-input.ui-input--50.ui-input--white

                            .col-md-6

                                p.ui-result Ваш результат: #[mark Результат]

                                .ui-action
                                    button.ui-btn.ui-btn--50.ui-btn--red Начать экономить
    // Save :: End


    // Need :: Start
    .need
        .container-fluid
        
            h2.need__title Что необходимо для перехода #[br] на оптовый рынок?

            .need__section

                p Главное требование для работы на оптовом рынке ээ наличие система учета ээ АИИС КУЭ, удовлетворяющую требованиям.

                p Мы создадим для Вас систему АИИС КУЭ, подключим ее к нашему серверу и предоставим Вам удаленный доступ к ней 24х7 365 дней в году.

                h2 Как происходит процедура #[br] перехода на оптовый рынок?

                p Электроэнергию с оптового рынка поставляют более 140 независимых поставщиков электроэнергии. Расценки независимых поставщиков в десятки и даже сотни раз ниже сбытовой надбавки гарантирующего поставщика, цена за их услуги составляет от 0,01 коп. с каждого кВт.ч.

                p Мы сотрудничаем с лучшими независимыми поставщиками ээ (ссылки), и поможем Вам выбрать лучшего поставщик, чтобы начать экономить.

                p Для этого мы построим для Вас систему АИИС КУЭ, Вы сможете выбрать и заключить договор энергоснабжения с лучшим независимым поставщиком ээ, который предложить Вам лучшие условия.

                h3 Что делаем мы, для того чтобы Вы начали экономить?

                h4 Для того, чтобы Вы начали экономить мы:

                ul
                    li оцениваем экономический эффект от выхода вашей организации на оптовый рынок ээ
                    li проводим предпроектное обследование системы учета ээ
                    li создаем / модернизируем систему учета ээ
                    li предоставляем Вам доступ к системе учета ээ
                    li получаем метрологические документы на систему учета ээ
                    li проводим конкурс на выбор лучшего независимого поставщика ээ, максимально удовлетворяющего вашим критериям
                    li Вы выбираете лучшего независимого поставщика ээ, заключаете с ним договор энергоснабжения и начинаете экономить
                    li сопровождаем все необходимые работы на опте (подааем ППП, проверяем расчеты поставщика ээ и тд)
                    
                p То есть мы за Вас делаем всю необходимую работу, а Вы продолжаете заниматься своим бизнесом и получаете экономию.

                h4 Почему выгодно выходить на оптовый рынок ээ по предлагаемой схеме?

                ul
                    li Вам не нужно тратить на систему АИИС КУЭ
                    li Вы сможете выбрать лучшего поставщика ээ
                    li
                        p Вы не зависите от АИИС КУЭ поставщика ээ:
                        ul
                            li - данные АИИС КУЭ хранятся на нашем сервере,
                            li - у Вас есть к ним доступ 24Х7,
                            li - в случае необходимости выбора нового поставщика, не нужно будет настраивать новую систему АИИС КУЭ
                            li - поддержка по юридическим и правовым вопросам 24х7
                    li У вас есть возможность в любой момент выбрать другого поставщика ээ
                    li Сопровождаем всю дальнейшую работу на опте, не нужно создавать новые отделы и брать на себя новую работу

    // Need :: End

    // Cost :: Start
    .cost
        .container-fluid
         
            h2.cost__title Сколько это стоит?

            .cost__section

                p От Вас не требуется первоначальных вложений, для того чтобы начать экономить. #[br] Оплата стоимости наших услуг начинается с момента выхода на опт и получения экономии. #[br] Стоимость наших услуг составляет от 5% возникающего эк.эффекта. #[br] То есть Вы платите только из экономии. #[br] В рамках этого сервиса мы создаем современную АИИС КУЭ для вашей организации, получаем метрологические документы, совместно  с выбранным вами поставщиком ээ проводим все необходимые мероприятия по выходу на опт.

                p
                    b Оставьте заявку и наши специалисты рассчитают точную стоимость.

                h3 Частые вопросы:

                .ui-card
                    h4 Можем ли мы вернуться к гарантирующему поставщику?
                    p Вернуться к ГП вы можете в любой момент, так как ГП по закону обязан принять на обслуживание любого обратившегося к нему потребителя (п.9 постановления Правительства РФ №442 от 4 мая 2012 года).
                
                .ui-card
                    h4 Какой график платежей предусмотрен на ОРЭМ?
                    p Точно такой же, как и у гарантирующего поставщика: 30% аванс до 10 числа месяца поставки, 40% до 25 числа месяца поставки, окончательный расчёт до 18 числа следующего месяца.

                .ui-card
                    h4 Сможем ли мы перейти в другому независимому поставщику ээ?
                    p Самое главное требования для выхода на оптовый рынок – наличие системы АИИС КУЭ, если Вы выйдете на опт с нашей помощью и созданной нами АИИС КУЭ, Вы в любой 5 момент сможете выбрать другого независимого поставщика ээ а в систему АИИС КУЭ не нужно будет вносить никаких изменений.
    
    // Cost :: End