---
title: Styleguide - Energo-market
bodyClass: is-page-default
---
extends includes/_app

block main



	// Article or Ui-wysiwyg Class :: Start
	article.article
		.container-fluid

			h1 H1 - О компании

			figure.ui-image.ui-image--outside
				img(src="images/img-01.png", alt="alt")

			h2 H2 - Энерго-маркет - группа компаний и экспертов в энергетике

			h3 H3 - Как Вы оплачиваете ээ сейчас (на розничном рынке ээ)?

			h4 H4 - Основание Компании

			h5 H5 - Москва

			h6 H6 - Сообщение


			section

				h3 Наши компетенции

				.row
					.col-xl-6

						.ui-card
							h4 Снижаем стоимость электроэнергии для наших клиентов
							p Мы знаем все способы снижения стоимости электричества в РФ. Если для Вашей компании есть возможность снизить затраты на электричество - Вы сразу же об этом узнаете при начале сотрудничетсва с нами.

					.col-xl-6

						.ui-card
							h4 Организуем технологическое присоединение к электрическим сетям
							p Мы знаем все способы снижения стоимости электричества в РФ. Если для Вашей компании есть возможность снизить затраты на электричество - Вы сразу же об этом узнаете при начале сотрудничетсва с нами.


					.col-xl-6

						.ui-card
							h4 Оказываем все инжиниринговые услуги в электроэнергетике
							p Проектируем и строим системы учета электроэнергии. Проектируем электроснабжение. Проектируем системы телемеханики. Производим расчет режима плавки гололеда. Выполняем электромонтажные работы и строительство электросетевых объектов. Есть все необходимые лицензии и СРО.

					.col-xl-6

						.ui-card
							h4 Консалтинг и юридическое сопровождение потребителей
							p Оказываем юридические услуги потребителям электроэнергии. Консультируем по сложным вопросам энергоснабжения.

				span.ui-spacer

				h2 Что это вообще такое - энергосбытовая деятельность?

				.row
					.col-xl-4

						.ui-card
							h4 А знаете ли Вы, что основные субъекты электроэнергетики это генерирующие и электросетевые компании, а также гарантирующие поставщики и энергосбытовые компании?
							p Генерирующие компании – производят электроэнергию. Электросети – передают электричество от генерации до потребителя. Гарантирующие поставщики и энергосбытовые компании - посредники, которые выставляют счета и собирают оплату с потребителей.

					.col-xl-4

						.ui-card
							h4 А знаете ли Вы, чем отличается гарантирующий поставщик от энергосбытовой компании?
							p Все предприятия и организации в России в 2006 году директивно стали клиентами гарантирующих поставщиков (после завершения реформирования электроэнергетики) Энергосбытовые компании не получили такого преимущества в виде готового пула клиентов и с 2006 года они постепенно "уводят" своих потребителей у гарантирующих поставщиков. Фактически, гарантирующий поставщик это та же энергосбытовая организация, но с определенными обязательствами по обслуживанию населения, отказаться от которых ему невозможно.

					.col-xl-4

						.ui-card
							h4 А знаете ли Вы, сколько сейчас Вам обходятся услуги гарантирующих поставщиков и энергосбытовых компаний?
							p Стоимость услуг посредников по перепродаже электроэнергии потребителям обходится от 2 коп. (плата энергосбытовым компаниям) до 50 коп. (плата гарантирующим поставщикам) за каждый потребленный кВт.ч. Размер платы зависит от региона, максимальной мощности потребителя, цен на электроэнергию на оптовом рынке и условий договора энергоснабжения.


				span.ui-spacer

				p Электроэнергию с оптового рынка поставляют более 140 независимых поставщиков электроэнергии. Расценки независимых поставщиков в десятки и даже сотни раз ниже сбытовой надбавки гарантирующего поставщика, #[mark цена за их услуги составляет от 0,01 коп. с каждого кВт.ч.]

				p Мы сотрудничаем с лучшими независимыми поставщиками ээ (ссылки), и поможем Вам выбрать лучшего поставщик, чтобы начать экономить.

				p Для этого мы построим для Вас систему АИИС КУЭ, Вы сможете выбрать и заключить договор энергоснабжения с лучшим независимым поставщиком ээ, который предложить Вам лучшие условия.


				.row
					.col-xl-6

						p Электроэнергию с оптового рынка поставляют более 140 независимых поставщиков электроэнергии. Расценки независимых поставщиков в десятки и даже сотни раз ниже сбытовой надбавки гарантирующего поставщика, цена за их услуги составляет от 0,01 коп. с каждого кВт.ч.

						p Мы сотрудничаем с лучшими независимыми поставщиками ээ (ссылки), и поможем Вам выбрать лучшего поставщик, чтобы начать экономить.

						p Для этого мы построим для Вас систему АИИС КУЭ, Вы сможете выбрать и заключить договор энергоснабжения с лучшим независимым поставщиком ээ, который предложить Вам лучшие условия.



					.col-xl-6

						p Электроэнергию с оптового рынка поставляют более 140 независимых поставщиков электроэнергии. Расценки независимых поставщиков в десятки и даже сотни раз ниже сбытовой надбавки гарантирующего поставщика, цена за их услуги составляет от 0,01 коп. с каждого кВт.ч.

						p Мы сотрудничаем с лучшими независимыми поставщиками ээ (ссылки), и поможем Вам выбрать лучшего поставщик, чтобы начать экономить.

						p Для этого мы построим для Вас систему АИИС КУЭ, Вы сможете выбрать и заключить договор энергоснабжения с лучшим независимым поставщиком ээ, который предложить Вам лучшие условия.


					.col-xl-4

						p Электроэнергию с оптового рынка поставляют более 140 независимых поставщиков электроэнергии. Расценки независимых поставщиков в десятки и даже сотни раз ниже сбытовой надбавки гарантирующего поставщика, цена за их услуги составляет от 0,01 коп. с каждого кВт.ч.
						p Мы сотрудничаем с лучшими независимыми поставщиками ээ (ссылки), и поможем Вам выбрать лучшего поставщик, чтобы начать экономить.
						p Для этого мы построим для Вас систему АИИС КУЭ, Вы сможете выбрать и заключить договор энергоснабжения с лучшим независимым поставщиком ээ, который предложить Вам лучшие условия.

					.col-xl-4

						p Электроэнергию с оптового рынка поставляют более 140 независимых поставщиков электроэнергии. Расценки независимых поставщиков в десятки и даже сотни раз ниже сбытовой надбавки гарантирующего поставщика, цена за их услуги составляет от 0,01 коп. с каждого кВт.ч.
						p Мы сотрудничаем с лучшими независимыми поставщиками ээ (ссылки), и поможем Вам выбрать лучшего поставщик, чтобы начать экономить.
						p Для этого мы построим для Вас систему АИИС КУЭ, Вы сможете выбрать и заключить договор энергоснабжения с лучшим независимым поставщиком ээ, который предложить Вам лучшие условия.

					.col-xl-4

						p Электроэнергию с оптового рынка поставляют более 140 независимых поставщиков электроэнергии. Расценки независимых поставщиков в десятки и даже сотни раз ниже сбытовой надбавки гарантирующего поставщика, цена за их услуги составляет от 0,01 коп. с каждого кВт.ч.
						p Мы сотрудничаем с лучшими независимыми поставщиками ээ (ссылки), и поможем Вам выбрать лучшего поставщик, чтобы начать экономить.
						p Для этого мы построим для Вас систему АИИС КУЭ, Вы сможете выбрать и заключить договор энергоснабжения с лучшим независимым поставщиком ээ, который предложить Вам лучшие условия.

				span.ui-spacer

				.row
					.col-xl-6.push-xl-3

						blockquote Начните экономить на оплате электроэнергии без первоначальных вложений, а мы позаботимся, чтобы энергоснабжение вашего бизнеса стало оптимальным и будем отстаивать Ваши интересы. Начните экономить на оплате электроэнергии без первоначальных вложений, а мы позаботимся, чтобы энергоснабжение вашего бизнеса стало оптимальным и будем отстаивать Ваши интересы

				span.ui-spacer

				.swiper-container.swiper-gallery.js-swiper-gallery
					.swiper-wrapper
						.swiper-slide
							a(href="images/img-gallery-01.png" data-fancybox="gallery")
								img(src="images/img-gallery-01.png", alt="alt")
						.swiper-slide
							a(href="images/img-gallery-02.png" data-fancybox="gallery")
								img(src="images/img-gallery-02.png", alt="alt")
						.swiper-slide
							a(href="images/img-gallery-03.png" data-fancybox="gallery")
								img(src="images/img-gallery-03.png", alt="alt")
						.swiper-slide
							a(href="images/img-gallery-01.png" data-fancybox="gallery")
								img(src="images/img-gallery-01.png", alt="alt")
						.swiper-slide
							a(href="images/img-gallery-02.png" data-fancybox="gallery")
								img(src="images/img-gallery-02.png", alt="alt")
						.swiper-slide
							a(href="images/img-gallery-03.png" data-fancybox="gallery")
								img(src="images/img-gallery-03.png", alt="alt")

					.swiper-control
						button.swiper-prev.js-swiper-gallery-prev
							+sprite('icon-prev')
						
						.swiper-pagination.js-swiper-gallery-pagination
						
						button.swiper-next.js-swiper-gallery-next
							+sprite('icon-next')

					

				span.ui-spacer

				.row
					.col-xl-6

						ul
							li Выборе выгоднойценовой категории
							li Приведении уровня тарифногонапряжения в соответствие с законодательством
							li Уменьшении размера потерь
							li Исключении вознагражденийпо агентским договорам и увеличение налоговой базы НДС


					.col-xl-6


						ol
							li Выборе выгоднойценовой категории
							li Приведении уровня тарифногонапряжения в соответствие с законодательством
							li Уменьшении размера потерь
							li Исключении вознагражденийпо агентским договорам и увеличение налоговой базы НДС


				span.ui-spacer

				table
					thead
						tr
							th Заголовок 1
							th Заголовок 2
							th Заголовок 3
							th Заголовок 4
					tbody
						tr
							td Текст в ячейке
							td Текст в ячейке
							td Текст в ячейке
							td Текст в ячейке
						tr
							td Текст в ячейке
							td Текст в ячейке
							td Текст в ячейке
							td Текст в ячейке
						tr
							td Текст в ячейке
							td Текст в ячейке
							td Текст в ячейке
							td Текст в ячейке
						tr
							td Текст в ячейке
							td Текст в ячейке
							td Текст в ячейке
							td Текст в ячейке


			
	// Article or Ui-wysiwyg Class :: End
	
