//- --------------------------------------------------------------------------
//- Footer
//- --------------------------------------------------------------------------

.container-fluid

    p.footer__copyright 2020 © energo-market.ru  |  Все права защищены

    p.footer__dev Сделано в #[a(href="https://adaptivi.ru/" target="_blank").footer__dev-link #[img(src="images/logo-dev.png", alt="alt")]]
        