//- --------------------------------------------------------------------------
//- Load Scripts
//- --------------------------------------------------------------------------

script(src='js/plugins.min.js')
script(src='js/app.min.js')

script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
script.

    function initMaps(){

        if ( $('#map').length ) {

            var map_contacts = new ymaps.Map('map', {
                center: [55.747229013464526,37.61898397265624],
                zoom: 10,
                controls: []
            });

            map_contacts.behaviors.disable('scrollZoom');


            var marker = new ymaps.Placemark([55.747229013464526,37.61898397265624], {}, {
                iconLayout: 'default#image',
                iconImageHref: 'images/icons/icon-location.svg',
                iconImageSize: [40, 40],
                iconImageOffset: [-20, -40]
            });

            map_contacts.geoObjects.add(marker);


        }

    }

    ymaps.ready(initMaps);
