// --------------------------------------------------------------------------
// For
// --------------------------------------------------------------------------

.for {
    margin: 0 0 60px;
    @include breakpoint(xl) {
        margin: 0 0 120px;
    }
}

.for__title {
    @extend .ui-title-38;
    margin: 0 0 40px;
    position: relative;
    z-index: 2;
}

.for__section {
    position: relative;
    z-index: 1;
    padding: 20px 0 20px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -60px;
        left: -80px;
        right: -240px;
        bottom: 0;
        background: linear-gradient(135deg, #FCFCFD 0%, #F3F7FB 100%);
        z-index: -1;
    }

    h2 {
        @extend .ui-title-38;
        margin: 0 0 50px;
    }

    h3 {
        @extend .ui-title-25;
        margin: 0 0 80px;
        max-width: 948px;
    }

    h4 {
        @extend .ui-title-19;
        margin: 0 0 40px;
    }

    ul {
        @extend .ui-checklist;
        margin: 0 0 80px;
    }

    p {
        margin: 0 0 30px;
        & + h2 {
            padding: 70px 0 0;
        }
        & + h3 {
            padding: 55px 0 0;
        }
        & + h4 {
            padding: 30px 0 0;
        }
    }
   
}