// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.icon-arrow-btn {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.icon-arrow-down {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 7px;
}
.icon-arrow-right {
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 9px;
}
.icon-arrow-toggle {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.icon-close {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
}
.icon-dev {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
}
.icon-download {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 17px;
}
.icon-next {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 15px;
}
.icon-prev {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 16px;
}
.icon-quotes {
	display: inline-block;
	vertical-align: middle;
	width: 72px;
	height: 54px;
}
.icon-services-01 {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 23px;
}
.icon-services-02 {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
}
.icon-services-03 {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 18px;
}
.icon-view {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 16px;
}

